.messageTime {
    color: #9393C1;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-right: 5%;
    margin-bottom: 5%;
}

.messageTimeNoM {
    color: #9393C1;
    font-family: 'Montserrat', sans-serif;
}