.file {
    position: relative;
    margin-left: 3%;
    width: 100px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #D1E4E8;

    .filename {
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        margin-top: 5px;
    }
    
    
    .fileicon {
        width: 70px;
        height: 70px;
    }
    
    .trashfile {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
    
    .trashfile:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
    }
}