.messagessection {
    position: relative;
    width: 83%;
    height: 100%;
}

/* Topbar Style  */

.conversationtopbar {
    z-index: 1;
    position: absolute;
    width: 98.7%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff; */
    backdrop-filter: blur(10px);
}

.topbarleft {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.topbarimage {
    width: 60px;
    height: 60px;
    align-self: center;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.conversationname {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #000;
}

.topbarright {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
}

.toprightbtn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.searchconv {
    width: 350px;
    height: 50px;
    background-color: #f9f9f9;
    border-radius: 24px;
    text-indent: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    transform: translateX(100%);
    transition: transform 1.5s ease-in-out;
}

.searchconvShow {
    transform: translateX(0%);

}

.searchconv::placeholder {
    color: #9393C1;
}

/* InputBar style  */

.conversationbottombar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F6F6F6;
}

.messageinput {
    width: 80%;
    height: 60%;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 20px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #000;
}
.joinfile {
    width: 24px;
    height: 24px;
}

.emojiPicker {
    filter: grayscale(100%);
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.emojiPicker:hover {
    filter: grayscale(0%);
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.emojiPickerContainer {
    position: absolute;
    right: -0.4em;
    bottom: 4.5em;
}

/* FileArea Style */

.bottomArea {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* FileList style  */

.fileslist {
    background-color: #F6F6F6;
    bottom: 8%;
    position: absolute;
    width: 98.7%;
    overflow-x: auto;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* MessageArea Style */

.messagesection {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.messagesectionfull {
    width: 100%;
}

.messagesectionmedium {
    width: 60%;
}

.messagesectionheightMax {
    height: 90%;
}

.messagesectionheightMin {
    height: 75%;
}