.messagereceived {
    position: relative;
    align-self: flex-start;
    min-width: 15%;
    max-width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
}

.messagereceivedtop {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.messagereceivedbottom {
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagereceivedmiddle {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.messagesent {
    position: relative;
    align-self: flex-end;
    min-width: 15%;
    max-width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #D7F8F4;
}

.messagesenttop {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagesentbottom {
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagesentmiddle {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.message {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.messagecontent,
.messagetime {
    margin: 8px;
}

.messagetime {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    color: #8F94A3;
    margin-right: 15px;
}

.messagecontent {
    width: 80%;
    height: auto;
    align-self: flex-start;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-wrap: break-word;
    margin-left: 20px;
}

.messagecontextblur {
    position: absolute;
    width: 98.7%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.messagecontextblurmedium {
    width: 58.7%;
}

.messagecontextblurfull {
    width: 98.7%;
}

.messagefirstplan {
    z-index: 3;
}

.reactiondiv {
    margin-bottom: 2%;
}

.cross {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cross:hover {
    cursor: pointer;
    background-color: #8F94A3;
    border-radius: 12px;
}

.messagecontextmenu {
    z-index: 2;
    width: 15%;
    height: auto;
    margin-top: 2%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messagecontextmenusent {
    align-self: flex-end;
    background-color: #D7F8F4;
}

.messagecontextmenureceived {
    align-self: flex-start;
    background-color: #fff;
}

.messagecontextitem {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.messagecontextitem:hover {
    background-color: #fff;
}

.reactions {
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reaction {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myReaction {
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.myReaction:hover {
    background-color: #D7F8F4;
}