@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.conversationssection {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noresult:hover {
    border-radius: 12px;
}

.convSearch {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-indent: 50px;
    border: none;
}

.convSearch:focus {
    outline: none;
}

.convSearch::placeholder {
    color: #9393C1;
}





.userpic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.pinned {
    transition: all 1s ease;
}