.LoginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #F7F7FC;
    background-image: url("../assets/chat-bg.png");
    background-position: center;
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5FAFC;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    margin-top: 8rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.buttonlogin{
    background-color: #128C7E;
    border: none;
    border-radius: 15px;
    color: #fff;
    width: 30%;
    height: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.inputlogin{
    width: 60%;
    height: 2rem;
    margin-bottom: 1rem;
    border: 1px solid #128C7E;
    border-radius: 15px;
    padding-left: 0.5rem;
    text-align: center;
    background-color: #fff;
}

.inputlogin:focus{
    outline: none;
}

.title{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #000000;
    margin-bottom: 5rem;
}
