.home-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #161f24;
    background-image: url("../../assets/chat-bg.png");
    background-position: center;
}

.conversation{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: auto;
    min-height: 100vh;
    width: 20%;
    background-color: #111b22;
}

.converstion-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
    /* background-color: #282828; */
    

}

.conv-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    background-color: #1f2c32;
    color : #fff;
}

.avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.title-conv-bar{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}

.avatar-title-wrapper-conv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.search-bar-conv{
    margin-top: 1rem;
    width: 100%;
}

.search-input-conv, input[type="text"]{
    height: 30px;
    width: 90%;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #1f2c32;
    caret-color: #fff;
    color: #c2c2c2;
    border: none;
    outline: none;
}

input[type="text"]::placeholder{
    color: #c2c2c2;
}

.search-input-conv:focus{
    border-bottom: 2px solid #035e4d;
}

.archived-conv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.archive-logo{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.archive-logo:hover{
    cursor: pointer;
}

.archive-title{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
}

.archive-count{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #10a187;
    margin-left: 10px;
}

.conv-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin-top: 1rem;
    align-items: center;
}

.conv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}

.conv:hover{
    cursor: pointer;
}

.avatar-conv{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 30px;
}

.conv-details{
    /* margin-right: 50px; */
    width: 100%;
}

.conv-logo{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    stroke: #fff;
    fill: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.conv-top-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.conv-name{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-left: 60px;
}

.conv-hour{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #838383;
    margin-left: 10px;
    margin-right: 40px;
}

.conv-hour-unread{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #4e7586;
    margin-left: 10px;
}

.doubleTick{
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.lastMessage{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #838383;
    margin-left: 10px;
}

.lastMessageRead{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lastMessageUnread{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conv-bottom-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.numberOfUnreadMessages{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #10a187;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conv-separator{
    width: 100%;
    height: 1px;
    background-color: #1f2c32;
}