@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F7F7FC;
    background-image: url('../../assets/chat-bg.png');
}

.conversations-section {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5FAFC;
}

.convstype {
    width: 80%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 24px;
}

.convtype {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #5A6A9D;
}

.convtype:hover {
    cursor: pointer;
    background-color: #128C7E;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.convtype:hover:nth-child(1) {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.convtype:hover:nth-child(3) {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.convtypeActive {
    background-color: #128C7E;
    color: white;
}

.convtypeActive:nth-child(1) {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.convtypeActive:nth-child(3) {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.conversation {
    width: 90%;
    height: 11%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.convimagestatus {
    justify-self: center;
    position: relative;
    width: auto;
    height: 100%;
    margin-top: 15px;
}

.speakerstatus {
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #F6F6F6;
}

.conversationimage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.conversationinfos {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.conversationActive {
    background-color: #D1E4E8;
}

.conversation:hover {
    background-color: #D1E4E8;
    cursor: pointer;
}

.searchBar {
    position: relative;
    width: 80%;
    height: 50px;
    margin-top: 8%;
}

.convSearch {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-indent: 50px;
    border: none;
}

.convSearch:focus {
    outline: none;
}

.convSearch::placeholder {
    color: #9393C1;
}

.searchLogo {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 20px;
    height: 20px;
}

.convslist {
    margin-top: 5%;
    width: 95%;
    height: 80%;
    overflow-y: auto;
}

.newconv-div {
    z-index: 500;
    position: absolute;
    bottom: 5%;
    left: 25%;
    width: 60px;
    height: 60px;
    background-color: #128C7E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.newConv {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.newConv-rotate {
    animation: rotation 0.5s linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.newconvmodal {
    z-index: 499;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(15px);
}

.newconvinput {
    width: 30%;
    height: 5%;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 24px;
    border: 0.5px solid #128C7E;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-indent: 50px;
}

.newconvinput::placeholder {
    color: #9393C1;
}

.newconvinput:focus {
    outline: none;
}

.newconvuser {
    width: 30%;
    height: 10%;
    margin-top: 2%;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

.newconvuser:hover {
    cursor: pointer;
    background-color: #D1E4E8;
}

.messages-section {
    position: relative;
    width: 70%;
    height: 100%;
}

.conversationtopbar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.topbarleft {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.conversationname {
    font-size: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
}

.conversationstatus {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #6E7FA9;
}

.topbarright {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
}

.toprightbtn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.conversationbottombar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F6F6F6;
}

.message-input {
    width: 80%;
    height: 60%;
    border-radius: 40px;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-indent: 20px;
    outline: none;
    border: none;
    background-color: #fff;
}

.noconvactive {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-conv-title-active{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 36px;
    color: #333E5B;
    margin-top: 10px;
    width: 90%;
    text-align: center;
}

.no-conv-subtitle-active{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    color: #8F94A3;
    margin-top: 10px;
    width: 80%;
    text-align: center;
}

.messagesection {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.messagesectionfull {
    width: 100%;
}

.messagesectionmedium {
    width: 60%;
}

.send {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #128C7E;
    border-radius: 40px;
    cursor: pointer;
}

.messagecontent, .messagetime {
    margin: 8px;
}

.messagecontent {
    width: 80%;
    height: auto;
    align-self: flex-start;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-wrap: break-word;
    margin-left: 20px;
}

.messagetime {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    color: #8F94A3;
    margin-right: 15px;
}

.message {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.messagesent {
    align-self: flex-end;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #D7F8F4;
}

.messagesenttop {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagesentbottom {
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagesentmiddle {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}


.messagereceived {
    align-self: flex-start;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
}

.messagereceivedtop {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.messagereceivedbottom {
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagereceivedmiddle {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}


.messageprivacy {
    margin-top: 20px;
    width: 64%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FEECDC;
    border-radius: 18px;
}

.securitymessage {
    width: 80%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

.typingstatus {
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: #000;
    z-index: 9999;
}

.bottombar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userpic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.topbarimage {
    width: 60px;
    height: 60px;
    align-self: center;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.pinned {
    transition: all 1s ease;
}

.searchconv {
    width: 350px;
    height: 50px;
    background-color: #f9f9f9;
    border-radius: 24px;
    text-indent: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    transform: translateX(100%);
    transition: transform 1.5s ease-in-out;
}

.searchconvShow {
    transform: translateX(0%);

}

.searchconv::placeholder {
    color: #9393C1;
}