.messagereceived {
    position: relative;
    align-self: flex-start;
    min-width: 5%;
    max-width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #eaeaec;
}

.messagereceivedtop {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.messagereceivedbottom {
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagereceivedmiddle {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.messagesent {
    position: relative;
    align-self: flex-end;
    min-width: 5%;
    max-width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #007aff;
}

.messagesenttop {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagesentbottom {
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.messagesentmiddle {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.message {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messagecontent,
.messagetime {
    margin: 10px 15px;
}

.messagecontentMe,
.messagetime {
    margin: 10px 15px;
}

.messagetime {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #8F94A3;
    margin-right: 15px;
}

.messagecontent {
    width: 80%;
    height: auto;
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: break-word;
    // margin-left: 20px;
    color: #000;
}

.messagecontentMe {
    width: 80%;
    height: auto;
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: break-word;
    margin-left: 20px;
    color: #fff;
}

.messagefirstplan {
    z-index: 3;
}


.hasReactions {
    height: auto;
    margin-bottom: 5px;
}


.reactions {
    position: absolute;
    bottom: -10px;
    right: 5px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 12px;
    padding: 1px;
}

.reaction {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reactionCount {
    font-family: 'SfPro', sans-serif;
    font-size: 14px;
    color: #000;
}

.messagecontextmenusent {
    align-self: flex-end;
    background-color: #D7F8F4;
}

.messagecontextmenureceived {
    align-self: flex-start;
    background-color: #fff;
}

/* contextMenu style  */

.messagecontextmenu {
    z-index: 2;
    width: 10%;
    height: auto;
    margin-top: 1%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.messagecontextmenusent {
    align-self: flex-end;
    background-color: #f5f6fa;
}

.messagecontextmenureceived {
    align-self: flex-start;
    background-color: #f5f6fa;
}

.messagecontextitem {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.messagecontextitem:hover {
    background-color: #fff;
}

.messagecontextitem:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.messagecontextitem:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.contexttitle {
    width: 50%;
    color: #000;
}

.contexticon {
    width: 20px;
    height: 20px;
}

.reactiondiv {
    margin-bottom: 1%;
}

// isTyping style 

.isTyping {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    .dot {
        width: 10px;
        height: 10px;
        background-color: #9a9fab;
        border-radius: 50%;
        animation: blink 1.2s infinite;
    }

    .dot:nth-child(2) {
        animation-delay: 0.33s;
    }

    .dot:nth-child(3) {
        animation-delay: 0.66s;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}